@import '~antd/dist/antd.less';
// @import './style/theme.less';

#root{
    height:100%;
}

//  views/page
.login{
    height:100%;
    background:#f3f3f3;
    .login_box{
        width:380px;
        padding:36px;
        box-shadow: 0 0 100px rgba(0, 0, 0, 0.08);
        background: #fff;
        .login_top{
            margin-bottom:24px;
        }
    }
}

//  views/home/layout
.ant-layout{
    height:100%;
    background:#f5f5f5;
}

// components/common/TableList
.table_list{
    background:#fff;
}

.ant-drawer-right.ant-drawer-open .ant-drawer-content-wrapper{
    max-width:90%;
}